/* LuloCleanBold */
@font-face { 
    font-family: "LuloCleanBold";
    src:url("../fonts/LuloCleanBold.woff")format("woff");
}

/* Regular LuloClean */
@font-face {
    font-family:"LuloClean";
    src:url("../fonts/LuloClean.woff")format("woff");
}

/* Container for all the things in the about page */
.indexContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 75vh;
    width: 100%;

    justify-items: center;
    align-items: center;
    text-align: center;
}

/* Ashley Portrait */
.image {
    width: 400px;
    padding-top: 30px;
}

/* Introduction text */
.indexText {
    margin-left: 100px;
    font-family: LuloCleanBold;
}

/* Bold Title Text */
.indexText h2 {
    letter-spacing: 5px;
    font-weight: 800;
}

/* Your introduction paragraph */
.indexText p {
    font-family: 'Nunito Extra Light', sans-serif;
    font-weight: 100;
    letter-spacing: 4px;
    line-height: 1.5;
    font-size: 80%;
}

/* Styling for mobile */
@media only screen and (max-width: 768px) {
    .indexContainer {
        grid-template-columns: 1fr;
    }

    .image {
        width: 300px;
        grid-row: 1 / 2;
    }

    .indexText {
        margin-left: 0;
        padding: 0 20px 0 20px;
        grid-row: 2 / 3;
    }
}