/* Container for Modal (Gray screen) */
.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;  
    position:fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    z-index: 800;
}

/* Styling for Image when Modal is toggled */
.image {
    width: 500px;
    opacity: 1;
}
